<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">
    <link href="/static/css/computer_device.css" rel="stylesheet"/>
</head>
<body>
<header>
    <nav class="regle-navbar">
        <div class="nav-div">
            <p class="nav-regle">Regle</p>
            <a class="a-glav" href="/">Главная</a>
            <a class="a-convert" href="/upload">Конвертер</a>
            <a class="a-cloud" href="/cloud">Cloud</a>
        </div>
        {% if current_user.is_authenticated %}
        <button class="button-nav" onclick="document.location='/logout'">{{ current_user.name }}</button>
        {% else %}
        <button class="button-nav" onclick="document.location='/login'">Вход</button>
        {% endif %}
    </nav>
</header>
<main role="main" class="container">
    <h1 class="headlines-h1">Устройство компьютера</h1>
    <p class="plain-text">Обычный персональный компьютер состоит из:</p>
    <ul class="plain-text">
        <li>Системного блока</li>
        <li>Монитора</li>
        <li>Клавиатура, мышь</li>
        <li>Дополнительные устройства</li>
    </ul>

    <h2 class="headlines-h2">Системный блок</h2>
    <p class="plain-text"><b><span style="color: #A52D1D;">Системный блок</span></b> — это центральная часть компьютера,
        в которой располагаются все самые важные
        составляющие. Всё, благодаря чему работает компьютер. Выпускаются самые разнообразные системные блоки, которые
        различаются по размерам, дизайну и способу сборки.</p>
    <img class="img-style" width="500" src="static/img/computer.png" alt="Картинка системного блока">
    <p class="plain-text">Элементы внутри системного блока:</p>
    <ul class="plain-text">
        <li>Материнская плата</li>
        <li>Видеокарта</li>
        <li>Процессор</li>
        <li>Оперативная память</li>
        <li>Жёсткий диск</li>
        <li>Блок питания</li>
    </ul>

    <p class="plain-text">Рассмотрим каждый элемент подробнее</p>
    <h2 class="headlines-h2">Материнская плата</h2>
    <img class="img-style" width="500" src="static/img/motherboard.png" alt="Картинка материнской платы">
    <p class="plain-text"><b><span style="color: #A52D1D;">Материнская плата</span></b> – это самая большая плата
        системного блока. На ней устанавливаются основные устройства
        компьютера:
        процессор, оперативная память, видеокарта, слоты (разъёмы), BIOS, с помощью шлейфов и кабелей к материнской
        плате
        подключаются DVD-привод, жёсткий диск, клавиатура, мышь и др. <br>
        Главная задача материнской платы – соединить все эти
        устройства и заставить их работать как одно целое. Кроме того на ней находятся контроллёры. <br>
        <b><span style="color: #A52D1D;">Контроллёры</span></b> – это
        электронные платы вставляемые в разъёмы (слоты) на материнской плате, они управляют устройствами подключаемыми к
        компьютеру. Некоторые контроллёры входят в состав материнской платы. Такие контроллёры называются
        интегрированными
        или встроенными. Так контролёры мыши и клавиатуры всегда являются встроенными. Добавляя и заменяя платы
        контроллёров
        можно расширять возможности компьютера и настраивать его под свои требования. Например пользователь может
        добавить
        дополнительную звуковую карту, которая может работать с новыми многоканальными акустическими системами.</p>

    <h2 class="headlines-h2">Процессор</h2>
    <img class="img-style" width="500" src="static/img/processor.png" alt="Картинка процессора">
    <p class="plain-text"><b><span style="color: #A52D1D;">Центральный процессор (ЦП, CPU)</span></b> является главным
        элементом компьютера, его “мозгом”. Он отвечает за все
        вычисления и
        обработку информации. Кроме этого, он выполняет управление всеми устройствами компьютера. От его мощности
        зависит
        быстродействие компьютера и его возможности.</p>
    <p class="plain-text">Характеристики процессора:</p>
    <ul class="plain-text">
        <li>Количество ядер</li>
        <li>Тактовая частота</li>
        <li>Кэш</li>
        <li>Сокет</li>
    </ul>

    <h3 class="headlines">Количество ядер</h3>
    <p class="plain-text">Чем больше у процессора ядер, тем большее число операций он может выполнять одновременно. По
        сути, несколько ядер
        –
        это несколько процессоров, которые расположены на одном кристалле или в одном корпусе. <br>
        В одноядерном процессоре
        команды, поступившие на его вход, последовательно проходят через нужные для их выполнения блоки, то есть пока
        процессором выполняется очередная команда, остальные ждут своей очереди. <br>
        В многоядерном процессоре на вход
        приходят
        несколько отдельных потоков команд и данных и также раздельно выходят, не оказывая влияния друг на друга. За
        счёт
        параллельной обработки процессором нескольких потоков команд увеличивается производительность компьютера. <br>
        Сегодня на
        персональные компьютеры устанавливаются, как правило, 2-8 ядерные процессоры. Однако не все программы рассчитаны
        на
        использование нескольких ядер.</p>

    <h3 class="headlines">Тактовая частота</h3>
    <p class="plain-text">Эта характеристика указывает на скорость выполнения команд центральным процессором. Такт –
        промежуток времени,
        необходимый для выполнения процессором элементарных операции. <br>
        Единицей одного такта принято считать 1 Гц (Герц). Это значит, что если частота равна 1 ГГц (Гига Герц), то ядро
        процессора выполняет 1 млрд. тактов. <br>
        В недалеком прошлом тактовую частоту центрального процессора отождествляли непосредственно с его
        производительностью, то есть чем выше тактовая частота процессора, тем он производительнее. <br>
        На практике имеем
        ситуацию, когда процессоры с одинаковой частотой имеют разную производительность, потому что за один такт могут
        выполнять разное количество команд (в зависимости от конструкции ядра, пропускной способности шины, кэш-памяти).
        Современные процессоры работают на частотах от 1 до 4 ГГц (Гига Герц)</p>

    <h3 class="headlines">Кэш</h3>
    <p class="plain-text">Кэш применяется для значительного ускорения вычислений. Это встроенная в корпус процессора
        сверхбыстрая память,
        содержащая данные, к которым процессор часто обращается. Кэш-память может быть первого (L1), второго (L2) или
        третьего (L3) уровня.</p>

    <h3 class="headlines">Сокет</h3>
    <p class="plain-text">Сокет (socket) – это разъём (гнездо) на материнской плате, куда устанавливается процессор. Но
        когда мы говорим
        «сокет
        процессора», то подразумеваем под этим, как гнездо на материнской плате, так и поддержку данного сокета
        определенными моделями процессоров. Сокет нужен именно для того, чтобы можно было с легкостью заменить вышедший
        из
        строя процессор или модернизировать компьютер более мощным процессором.</p>

    <h2 class="headlines-h2">Оперативная память</h2>
    <img class="img-style" width="500" src="static/img/ozy.png" alt="Картинка оперативки">
    <p class="plain-text">Следующий важный элемент компьютера, который находится в системном блоке – <b><span
            style="color: #A52D1D;">оперативная память</span></b> (RAM или
        ОЗУ-оперативное запоминающие устройство). Именно в ней запоминаются обрабатываемая процессором информация и
        запущенные пользователем программы. Оперативной она называется потому, что предоставляет процессору быстрый
        доступ к
        данным.</p>
    <p class="plain-text">Основные характеристики оперативной памяти:</p>
    <ul class="plain-text">
        <li><u>объём</u> – измеряется в мегабайтах (Мбайт) или гигабайтах (Гбайт), значительно влияет на производительность
            компьютера. Из-за недостаточного объёма оперативной памяти многие программы или не станут загружаться, или
            будут
            выполняться очень медленно. В современном типичном компьютере используется как минимум 2 Гбайт памяти, хотя
            для
            удобной работы лучше иметь 4 или 8 Гбайта;
        </li>
        <li><u>частота шины</u> – измеряется в мегагерцах (МГц), также оказывает большое влияние на скорость работы компьютера.
            Чем
            она больше, тем быстрее передача данных между процессором и самой памятью.
        </li>
        <li><u>тип памяти</u> – указывает на поколение, к которому относится память.</li>
    </ul>

    <h2 class="headlines-h2">Видеокарта</h2>
    <img class="img-style" width="500" src="static/img/video_card.png" alt="Картинка видеокарты">
    <p class="plain-text"><b><span style="color: #A52D1D;">Видеокарта</span></b> – электронная плата, обеспечивающая формирования видеосигнала и тем самым
        определяет изображение,
        показываемое монитором. У существующих видеокарт разные возможности. Если на компьютере используются офисные
        программы, то особых требований к видеокарте не предъявляют. Другое дело игровой компьютер, в котором основную
        работу берёт на себя видеокарта, а центральному процессору отводится второстепенная роль.</p>
    <p class="plain-text">Основные характеристики видеокарты:</p>
    <ul class="plain-text">
        <li><u>объём видеопамяти</u> – измеряется в мегабайтах (Мбайт) или гигабайтах (Гбайт), влияет на максимальное
            разрешение
            монитора, количество цветов и скорость обработки изображения. На данное время производятся модели видеокарт
            с
            объёмом видеопамяти от 1 Гбайт до 24 Гбайт. Оптимальный средний объём 2 Гбайт или 4 Гбайт;
        </li>
        <li><u>разрядность шины видеопамяти</u> – измеряется в битах, определяет объём данных, который можно одновременно
            передать
            из видеопамяти (в память). Стандартная разрядность шины современных видеокарт 256 бит;
        </li>
        <li><u>частота видеопамяти</u> – измеряется в мегагерцах (МГц), чем выше, тем больше общая производительность
            видеокарты.
        </li>
    </ul>

    <h2 class="headlines-h2">Жёсткий диск</h2>
    <img class="img-style" width="500" src="static/img/hard_drive.png" alt="Картинка Жёсткого диска">
    <p class="plain-text"><b><span style="color: #A52D1D;">Жёсткий диск</span></b>, называемый также винчестером или HDD, предназначен для долговременного хранения
        информации. Именно
        на
        жестком диске вашего компьютера хранится вся информация: операционная система, нужные программы, документы,
        фотографии, фильмы, музыка и прочие файлы. Именно он является основным устройством хранения информации в
        компьютере.</p>
    <p class="plain-text">Для пользователя жёсткие диски различаются между собой прежде всего следующими
        характеристиками:</p>
    <ul class="plain-text">
        <li><u>ёмкостью (объёмом)</u> – измеряется в гигабайтах (Гбайт) или терабайтах (Тбайт), определяет какой объём
            информации
            можно записать на жёсткий диск. На данный момент объём современного винчестера измеряется от нескольких
            сотен
            гигабайт до нескольких терабайт;
        </li>
        <li><u>быстродействием</u>, которое складывается из времени доступа к информации и скорости чтения/записи информации.
            Типичное время доступа у современных дисков составляет 5-10 мс (миллисекунд), средняя скорость чтения/записи
            –
            150 Мбайт/с (мегабайт в секунду);
        </li>
        <li><u>интерфейсом</u> – типом контролёра, к которому должен подключаться жёсткий диск (раньше использовался EIDE,
            сейчас
            различные варианты SATA 1-3).
        </li>
    </ul>

    <h2 class="headlines-h2">DVD-привод</h2>
    <img class="img-style" width="500" src="static/img/dvd.png" alt="Картинка DVD-привода">
    <p class="plain-text"><b><span style="color: #A52D1D;">DVD-привод</span></b> используется для чтения DVD и CD-дисков. Если в названии стоит приставка “RW”, то
        привод способен не
        только читать, но и записывать на диски. Привод характеризуется скоростью чтения/записи и обозначается
        посредством
        множителя (1x, 2x и т.д.). Единица скорости здесь равна 1.385 мегабайт в секунду (Мб/с). То есть, когда на
        приводе
        указано значение скорости 8x, то действительная скорость будет составлять 8 * 1.385 Мб/с=11.08 Мб/с.</p>

    <h2 class="headlines-h2">Blu-ray (Блю-рей) привод</h2>
    <img class="img-style" width="500" src="static/img/blu-ray.png" alt="Картинка blu-ray привода">
    <p class="plain-text"><b><span style="color: #A52D1D;">Blu-ray</span></b> приводы могут быть трёх видов: считывающие, комбо и пишущие. Считывающий Blu-ray
        привод может считывать
        CD,
        DVD и Blu-ray диски. Комбо может дополнительно записывать CD и DVD-диски. Пишущий Blu-ray привод может считывать
        и
        записывать все диски.</p>

    <h2 class="headlines-h2">Блок питания</h2>
    <img class="img-style" width="500" src="static/img/power.png" alt="Картинка блока питания">
    <p class="plain-text"><b><span style="color: #A52D1D;">Блок питания</span></b> снабжает электроэнергией устройства компьютера, и обычно продаётся вместе с
        корпусом. В настоящий
        момент
        производят блоки питания мощностью 450, 550 и 750 Ватт. Более мощные блоки питания (до 1500 Ватт) могут
        понадобиться
        компьютеру с мощной игровой видеокартой.</p>

    <h2 class="headlines-h2">Монитор</h2>
    <img class="img-style" width="500" src="static/img/screen.png" alt="Картинка монитора">
    <p class="plain-text"><b><span style="color: #A52D1D;">Монитор</span></b> предназначен для показа изображений поступающих от компьютера. Он относится к
        устройствам вывода
        информации
        компьютера.</p>
    <p class="plain-text">Основные характеристики мониторов:</p>
    <ul class="plain-text">
        <li><u>размер экрана</u> – измеряется в дюймах (1 дюйм=2,54 см) по диагонали. На данный момент наиболее популярными
            являются ЖК-мониторы с диагональю 19-23 дюймов;
        </li>
        <li><u>формат экрана</u> (соотношение сторон по вертикали и горизонтали), сейчас почти все мониторы продаются в
            широкоформатном исполнении: формат 16:9 и 16:10;
        </li>
        <li><u>тип матрицы</u> – основная часть ЖК-монитора, от которой на 90% зависит его качество. В современных мониторах
            применяется один из трёх основных типов матриц: TN-film (наиболее простой, самый дешёвый и
            распространённый),
            S-IPS (обладают наилучшей цветопередачей, применяется для профессиональной работы с изображениями) и PVA/
            MVA
            (дороже TN-film и дешевле IPS, можно сказать, что эти матрицы являются компромиссом между TN+Film и IPS.);
        </li>
        <li><u>разрешение экрана</u> – число точек (пикселей) в ширину и в высоту, из которых состоит изображение. Наиболее
            распространённые 17 и 19-дюймовые мониторы имеют разрешение 1280х1024 и 1600х1200 точек. Чем выше
            разрешение,
            тем, естественно, детальней получается изображение;
        </li>
        <li><u>тип разъёма</u> используемый для соединения с компьютером, аналоговый VGA (D-Sub) или цифровые разъемы DVI,
            HDMI.
        </li>
    </ul>

    <h2 class="headlines-h2">Клавиатура</h2>
    <img class="img-style" width="500" src="static/img/keyboard.png" alt="Картинка клавиатуры">
    <p class="plain-text"><b><span style="color: #A52D1D;">Клавиатура</span></b> — одно из наиболее часто используемых устройств ввода данных в компьютер.</p>

    <h2 class="headlines-h2">Компьютерная мышь</h2>
    <img class="img-style" width="500" src="static/img/mouse.png" alt="Картинка мыши">
    <p class="plain-text"><b><span style="color: #A52D1D;">Компьютерная мышь</span></b> также, как и клавиатура, является устройством ввода информации в компьютер.
        Компьютерные мышки
        бывают разные и по дизайну и по принципу работы и по функциональности. Сегодня наиболее распространены
        оптические
        мышки, с двумя кнопками и одним колесом прокрутки.</p>

    <h2 class="headlines-h2">Звуковые колонки</h2>
    <img class="img-style" width="500" src="static/img/speaker.png" alt="Картинка колонок">
    <p class="plain-text"><b><span style="color: #A52D1D;">Компьютерные колонки</span></b> – отвечают за вывод звуковых сигналов. Колонки бывают активные (со
        встроенным усилителем) и
        пассивные (без усилителя и дополнительного питания). Преимущество таких пассивных колонок в их небольшой цене,
        но
        при этом страдает качество звучания. Активные колонки способны обеспечить более качественное и громкое
        воспроизведение звука.</p>

    <h2 class="headlines-h2">Дополнительные устройства</h2>

    <p class="plain-text"><b><span style="color: #A52D1D;">Принтер</span></b> — устройство для печати текста и изображений на бумагу. Также относится к устройствам
        вывода информации
        ПК.</p>
    <img class="img-style" width="500" src="static/img/printer.png" alt="Картинка принтера">

    <p class="plain-text"><b><span style="color: #A52D1D;">Сканер</span></b> — устройство для считывания и ввода текстовой и графической информации в компьютер.</p>
    <img class="img-style" width="500" src="static/img/scanner.png" alt="Картинка сканера">

    <p class="plain-text"><b><span style="color: #A52D1D;">МФУ</span></b> — Многофункциональное устройство. Объединяет в себе принтер, сканер и ксерокс.</p>
    <img class="img-style" width="500" src="static/img/multi-functional_device.png" alt="Картинка МФУ">

    <p class="plain-text"><b><span style="color: #A52D1D;">Веб-камера</span></b> — это небольшая цифровая камера, которая совместно с компьютером служит для
        передачи изображения при
        общении в интернете.</p>

    <img class="img-style" width="500" src="static/img/webcam.png" alt="Картинка веб-камеры">
</main>
</body>
</html>