{% extends "base.html" %}

{% block content %}
    <link href="/static/css/style.css" rel="stylesheet"/>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
          rel="stylesheet">

    <h1 class="regle-h1">Regle</h1>
    <p class="firs-p">
        <b><span style="color: #A52D1D;">Regle</span></b> - это многофункциональный российский ресурс, который предоставляет возможность бесплатно конвертировать файлы из одного формата в другой. Кроме того, на сайте есть бесплатное облачное хранилище!
    </p>
    <p class="firs-p">
        Для использования платформы <b><span style="color: #A52D1D;">RegleCloud</span></b>, необходимо пройти регистрацию. После этого, у вас появится возможность загружать и хранить в безопасности свои файлы, не беспокоясь о том, что они могут бесследно исчезнуть в один момент!
    </p>
    <p class="firs-p">
        Платформа постоянно развивается, поэтому в процессе работы могут возникать некоторые недоработки. Мы просим вас сообщать нам о них в <a href="/errors">специальной форме</a>! Мы благодарны вам за активное участие в развитие <b><span style="color: #A52D1D;">Regle</span></b>!
    </p>
{% endblock %}